:root {
    --bg-color: #e5f2ee;
    --button-color: #4a8273;
    --forms-color: #7dbfb5;
    --text-color: #eaedf0;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;*/
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
}


/*global*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

.button_1 {
    height: 38px;
    background: var(--button-color);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--text-color);
}

.dark {
    padding: 15px;
    background: var(--forms-color);
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 10px;
}


/* header */

header {
    background: var(--forms-color);
    color: var(--text-color);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: var(--button-color) a1 6px solid;
}

header a {
    color: var(--text-color)f;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .hlgt,
header .current a {
    color: var(--button-color);
    font-weight: bold;
}

header a:hover {
    color: #ccc;
    font-weight: bold;
}


/* showcase */

#showcase {
    min-height: 500px;
    background: url(../images/mac.jpg) no-repeat 0 -50px;
    text-align: center;
    color: var(--button-color);
}

#showcase h1 {
    margin-top: 200px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}


/* newsletter */

#newsletter {
    padding: 15px;
    color: var(--text-color);
    background: var(--forms-color);
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}


/* boxes */

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}


/* sidebar */

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}


/* main-cl */

article#main-col {
    float: left;
    width: 65%;
    margin-top: 10px;
}


/*services */

ul#services li {
    list-style: none;
    padding: 20px;
    border: #ccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}


/* footer */

footer {
    padding: 20px;
    margin-top: 20px;
    color: var(--text-color);
    background-color: var(--button-color);
    text-align: center;
}


/* media */

@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        margin-top: 40px;
    }
    #newsletter button,
    .quote button {
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"],
    .quote input,
    .qoute textarea {
        width: 100%;
        margin-bottom: 5px;
    }
}